**/.vagrant/
**/playbook.retry
flyway-schemaspy/schemaspy/output/
digital-signature/java/digital-signature/.gradle/
digital-signature/java/digital-signature/bin/
digital-signature/csharp/DigitalSignature/.vs/
digital-signature/csharp/DigitalSignature/**/bin/
digital-signature/csharp/DigitalSignature/**/obj/
digital-signature/node/digital-signature/node_modules/
schemaspy-postgis/schemaspy/output*/
